@import "tailwindcss";

@theme {
	--text-xxs:0.6rem;
	--spacing-25:100px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number]{
    -moz-appearance: textfield;
}