@import "tailwindcss";

@theme {
	--text-xxs:0.6rem;
	--spacing-25:100px;
	--color-light-50:#FCFCFC;
}

body {
	@apply bg-light-50;
}

@layer components {
	.btn {
	  @apply inline-flex items-center justify-center text-sm font-semibold rounded-sm border-gray-800 border px-1 py-0.5 transition-colors duration-200 focus:outline-none
	  hover:bg-gray-200 focus:ring-2 focus:ring-offset-2 disabled:opacity-50 disabled:cursor-not-allowed;
	}
}

.busy {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	display: block;
	margin:15px auto;
	position: relative;
	color: #FFF;
	box-sizing: border-box;
	animation: animbusy 2s linear infinite;
  }
  
  @keyframes animbusy {
	0% {
	  box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
	}
	25% {
	  box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
	}
	50% {
	  box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
	}
	75% {
	  box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
	}
	100% {
	  box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
	}
  }