@import "tailwindcss";

@theme {
	--text-xxs:0.6rem;
	--spacing-25:100px;
	--color-light-50:#FCFCFC;
}

body {
	@apply bg-light-50 overflow-hidden;
}

@layer components {
	.btn {
	  @apply inline-flex items-center justify-center text-sm font-semibold rounded-sm border-gray-800 border px-1 py-0.5 transition-all duration-200 focus:outline-none
	  hover:bg-gray-200 disabled:opacity-50 disabled:cursor-not-allowed;
	}

  .icon-btn {
	  @apply inline-flex items-center justify-center text-sm font-semibold rounded-sm p-0.5 transition-all duration-200 focus:outline-none
    outline-none outline-gray-800/0
    active:bg-gray-300 active:outline-gray-800/80
    hover:outline hover:outline-solid hover:outline-gray-800/60
	  hover:bg-gray-200 disabled:opacity-50 disabled:cursor-not-allowed;
	}

}

  .busy {
    width: 18px;
    height: 18px;
    border: 4px solid #adaaaa;
    border-bottom-color: #3066ab;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 